# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python\CNN_AE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
